.app {
    padding: 30px 0;
    width: 40%;
}
h1 {
    text-align: center;
}
.form-input {
    /*padding: 10px 0;*/
    margin-top: 10px;
}
.form-button {
    text-align: center;
    margin: 30px 0;
    padding: 10px 20px;
}
a {
    text-decoration: none;
}
.overflow-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px
}
.addMessage {
    width: 300px;
}
.ReactModal__Overlay--after-open {
    z-index: 100;
}
.ReactModal__Content--after-open {
    width: 50%;
    margin: auto
}
